.admonition-mathdef {
	color: #424242;
	background-color: #fff;
	font-size: 14px;
}
div.admonition {
    background-color: #fff;
}
.admonition {
    background-color: #fff;
    border: 1px solid #CCC;
	border-radius: 25px;
}
.p {
	text-align: justified;
	font-family: Calibri;
    font-size: 17px;
}
body {
	text-align: justified;
	font-family: Calibri;
    font-size: 17px;
}
