black
black-nb
coverage
furo
ipython
jupyter
matplotlib
pytest
pytest-cov
ruff
sphinx<7.2  # furo raises an error
sphinx-gallery
sphinx-issues
git+https://github.com/sdpython/sphinx-runpython.git
tqdm
wheel
